<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.ribot.Knacket">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".BoilerplateApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.main.MainActivity"
            android:label="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".data.SyncService" />

        <receiver
            android:name=".data.SyncService$SyncOnConnectionAvailable"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.main.SellerProfile"
            android:label=""
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.main.AdInfo"
            android:label=""
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.main.BuyerProfile"
            android:label=""
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.main.Request"
            android:label=""
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.main.MyProfile"
            android:label=""
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.main.EditProfile"
            android:label=""
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.main.NewAd"
            android:label=""
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.main.MyJobs"
            android:label=""
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.main.BookingInfo"
            android:label=""
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden"/>
    </application>

</manifest>